node_modules
**/node_modules
.git
.astro
**/.astro
dist
**/dist
.next
**/.next
.output
**/.output

packages/backend/uploads
backups

.env
.env.local
.env.*.local
packages/**/.env
packages/**/.env.local

*.log
.DS_Store
