---
import { Image } from "astro:assets";
import Layouts from "@layouts/Layouts.astro";
---

<Layouts title="News">
    <main class="h-screen relative">
        <section id="blog" class="p-8 h-full overflow-scroll">
            <div class="container mx-auto">
                <h2 class="text-2xl font-bold mb-4">Blog</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                    <div>
                        <a href="/news-detail">
                            <Image
                                src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                                alt="Blog 1"
                                class="w-full h-auto rounded-lg mb-4"
                                width="260"
                                height="260"
                            />
                            <h3 class="text-xl font-bold">
                                Understanding Healthcare Systems
                            </h3>
                            <p class="line-clamp-3">
                                A deep dive into how healthcare systems operate
                                globally.
                            </p>
                        </a>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 2"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            The Future of Telemedicine
                        </h3>
                        <p class="line-clamp-3">
                            Exploring the advancements and future prospects of
                            telemedicine.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                    <div>
                        <Image
                            src="https://png.pngtree.com/thumb_back/fh260/background/20230611/pngtree-white-daisy-in-field-next-to-the-sun-image_2946166.jpg"
                            alt="Blog 3"
                            class="w-full h-auto rounded-lg mb-4"
                            loading="lazy"
                            width="260"
                            height="260"
                        />
                        <h3 class="text-xl font-bold">
                            Mental Health Awareness
                        </h3>
                        <p class="line-clamp-3">
                            Raising awareness about the importance of mental
                            health.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-8">
                <button class="px-4 py-2 mx-2 bg-blue-500 text-white rounded"
                    >Previous</button
                >
                <button class="px-4 py-2 mx-2 bg-blue-500 text-white rounded"
                    >Next</button
                >
            </div>
        </section>
    </main>
</Layouts>
