---
import Layouts from "@layouts/Layouts.astro";
import InputComponent from "@components/input/InputComponent.jsx";
---

<Layouts title="products">
    <main class="p-8">
        <section id="product-search" class="mb-8">
            <InputComponent client:load params={Astro.params} />
        </section>
    </main>
</Layouts>
