---
import Layouts from "@layouts/Layouts.astro";
import InputComponent from "@components/input/InputComponent.jsx";
import { SEO } from "astro-seo";
import { loadEnv } from "vite";

const { VITE_API_URL, VITE_IMAGE_URL } = loadEnv(process.env.NODE_ENV || '', process.cwd(), '');
const API_URL = VITE_API_URL;
const IMAGE_URL = VITE_IMAGE_URL;
const url = new URL(Astro.request.url);
---

<Layouts title="products">
    <main class="p-8">
        <SEO
            title="APM Medical Tools - High Quality Medical Devices"
            description="Search and explore our extensive catalog of high-quality medical tools and devices. Find the best solutions tailored to your medical needs."
        />
        <section id="product-search" class="mb-8">
            <InputComponent
                client:load
                params={Astro.params}
                API_URL={API_URL}
                IMAGE_URL={IMAGE_URL}
                url={url}
            />
        </section>
    </main>
</Layouts>
