<header class="sticky top-0 p-[1em] left-0 w-full z-50 bg-white shadow-md">
    <div class="flex justify-between items-center">
        <h1 class="text-black"><a href="/" class="text-black">My Landing Page</a></h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="#home" class="text-black">Home</a></li>
                <li><a href="/products" class="text-black">Product</a></li>
                <li><a href="/news" class="text-black">News</a></li>
                <li><a href="/contact" class="text-black">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
