<header class="sticky top-0 p-[1em] left-0 w-full z-50 bg-[#012C5B] shadow-md text-white">
    <div class="flex justify-between items-center">
        <h1><a href="/">My Landing Page</a></h1>
        <nav class="font-bold">
            <ul class="flex space-x-4">
                <li><a href="#home">Home</a></li>
                <li><a href="/products">Product</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
