---
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-100 p-8 text-gray-700">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
        <div>
            <img
                src="public/apmedika-logo.png"
                alt="Apmedika Logo"
                class="mb-4 h-16"
            />
            <p class="text-justify">
                <b>APM (Apmedika)</b> provides high-quality, affordable treatment.
                We serve all hospitals in Indonesia and educate medical staff on
                our products. Our 24/7 support ensures flawless device operation.
            </p>
            <div class="flex space-x-4 mt-4">
                <a href="#">
                    <Icon name="mdi:facebook" class="w-6 h-6" />
                </a>
                <a href="#">
                    <Icon name="mdi:twitter" class="w-6 h-6" />
                </a>
                <a href="#">
                    <Icon name="mdi:linkedin" class="w-6 h-6" />
                </a>
            </div>
        </div>
        <div>
            <h3 class="font-bold mb-4">Useful Links</h3>
            <ul class="space-y-2">
                <li><a href="#" class="hover:underline">News</a></li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold mb-4">Healthcare Products</h3>
            <ul class="space-y-2">
                <li><a href="#" class="hover:underline">Rehabilitation</a></li>
                <li>
                    <a href="#" class="hover:underline">Laboratory Analysis</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Face Lift Surgery</a>
                </li>
                <li><a href="#" class="hover:underline">Inspection</a></li>
            </ul>
        </div>
        <div class="space-y-4">
            <h3 class="font-bold mb-4">Contacts</h3>
            <p>
                <strong>Address:</strong> Komp. Ruko Cempaka Mas No 29, Jl. Letjend.
                Suprapto, Jakarta Pusat, DKI Jakarta 10640, Indonesia
            </p>
            <p><strong>Email:</strong> info@aprimedik.com</p>
            <p>
                <strong>Phone:</strong> +62 21 565 2365
            </p>
        </div>
    </div>
</footer>
