---
import { Image } from "astro:assets";
const { eventCategory, event, IMAGE_URL, eventDetail } = Astro.props;
---

<section class="p-8">
    <h2 class="text-3xl font-bold mb-4">{eventDetail?.name_events}</h2>
    <span class="text-md mb-6 justify-center">
        {eventDetail?.Description}
    </span>
    <div>
        {
            event?.map((event) => (
                <div>
                    <div class="gallery grid grid-cols-1 mt-6 sm:grid-cols-2 md:grid-cols-3 gap-4 max-h-96 overflow-y-scroll md:mt-6">
                        <Image
                            src={`${IMAGE_URL}/${event.event_image}`}
                            height={200}
                            width={200}
                            alt="Gallery Image 1"
                            class="w-full h-72 rounded shadow"
                            style="max-height: 300px; max-width: 300px;"
                            loading="lazy"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</section>
